    /* ==============ABOUT US============== */

    .about__aboutus {
        margin-top: 3rem;
        color: black;
    }

    

    .about-aboutus__container {
        display: grid;
        grid-template-columns: 40% 60%;
        gap:5rem;
    }

    .about_aboutus-right > p {
        margin: 1.6rem 0 2.5rem; 
        font-size: 1.1rem; 
    } 

    .aboutus__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center; 
        font-size:30px;
        box-shadow: 2px 2px 3px #999;
        z-index:100;
    }
    
    .my-float{
        margin-top:16px;
    }

    .aboutus__card {
        background: var(--color-bg2);
        transition: var(--transition);
    }    

    .aboutus__icon {
        background: var(--color-danger);
        padding: 0.6rem;
        border-radius: 1rem;
        display: inline-block;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }    

    .aboutus__card p { 
        margin-top:1rem;
        color: white;
        text-align: center;
        margin-bottom: 1rem;
    }

        .aboutus__socials {
            display: flex;
            gap: 1rem;
            font-size: 2rem;
            justify-content:flex-end;            
        }

        .aboutus__socials a {
            /* font-size: 3rem; */
            color: black;
            /* margin-right: 20px; */
        }

        .testing {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }  

        

    /* ==============ABOUT US QUERY 1024px TABLETS============== */

    @media screen and (max-width: 1024px) {
        .about__aboutus {
            margin-top:2rem;
        }

        .about-aboutus__container {
            grid-template-columns: 1fr;
            gap:4rem;
        }

        .about_aboutus-left {
            width: 80%;
            margin: auto;
            display: flex;
        }

        .team__container {
            grid-template-columns: repeat(3, 1fr);
            gap:1,5rem;
        }

        .team__member {
            padding:1rem;
        }

        .about_aboutus-left img {
            display: none;
        }

        .testing h1 {
            font-size: 1.7rem;
            
        }  
        
    
        
    }

    /* ==============TEAM PAGE MEDIA QUERY 600px PHONES============== */
    @media screen and (max-width:600px) {
           
    
        
    
        .aboutus__card p { 
            color: white;
            font-size: 12px;
            margin-left: 5px;
            margin-right: 5px;
            margin: 0;
        }

        .about-aboutus__container {            
                display: block;
                /* grid-template-columns: 1fr; */
                /* gap:4rem;             */
        }

        .about_aboutus-left {
            width: 80%; 
            margin: auto;
            display: flex;
        }            

        .about_aboutus-left img {
            display: none;
        }

        .testing h1 {
            font-size: 1.7rem;
            
        }  
    }





